<div [ngBusy]="{busy: busy, message: 'Выполняется обработка'}">
  <form [formGroup]="eventForm"
        (ngSubmit)="submit()">
    <div class="form-group">
      <label>ФИО <span class="color-red">*</span></label>
      <input class="form-control"
             [class.control-error]="isSubmitted"
             formControlName="fio">
    </div>

    <div class="form-group">
      <label>Подразделение <span class="color-red">*</span></label>
      <input class="form-control"
             [class.control-error]="isSubmitted"
             formControlName="department">
    </div>

    <div class="form-group">
      <label>Тема <span class="color-red">*</span></label>
      <input class="form-control"
             [class.control-error]="isSubmitted"
             formControlName="theme">
    </div>

    <div class="form-group">
      <label>Содержание <span class="color-red">*</span></label>
      <textarea class="event-content form-control"
                [class.control-error]="isSubmitted"
                formControlName="content"
      ></textarea>
    </div>

    <div class="form-group">
      <label>Вложение <span class="color-red">*</span></label>
      <div>
        <input *ngIf="!fileUrl"
               type="file"
               [class.control-error]="isSubmitted"
               (change)="onFileChange($event)">
      </div>

      <div *ngIf="fileUrl && event.id">
        <a [href]="fileUrl" target="_blank" download="event-attachment">Скачать вложение</a>
      </div>

      <div class="d-flex align-items-center justify-content-start"
           *ngIf="fileUrl && !event.id">
        <a [href]="fileUrl"
           class="mr-3"
           target="_blank"
           download="event-attachment">Вложение загруженно</a>

        <button type="button"
                class="btn btn-danger"
                (click)="fileUrl=''">Заменить
        </button>
      </div>
    </div>

    <div class="text-right mt-4" *ngIf="!detailsView">
      <button type="button" class="btn btn-light mr-3"
              (click)="clear()">Очистить
      </button>
      <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
  </form>
</div>
